{% extends "layout.html" %}
{% block TITLE %}Inicio{% endblock %}
{%block body%}
<div class="city">
	<a href="/"><div id="volver"></div></a>
	<a href="/city/fauna" class="alink"><div class="link link-fauna"></div></a><br>
	<a href="/city/flora" class="alink"><div class="link link-flora"></div></a>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript">
	$(document).ready(function () {}
</script>
{% endblock%}
{%block style%}
<style type="text/css">
	.city{
		background-image: url("/static/img/city.png");
	    background-repeat: no-repeat;
	    background-position: top center;
	    width: 944px;
	    height: 636px;
	    margin: 0 auto;margin-left: 132px;
	}
	.link{display: block;width: 90px;height: 90px;position: relative;top: 250px;right: -7px;float: right;}
	.link:hover{border-left: solid thin rgba(100,100,100,0.1);}
	.link-flora{top: 137px}
</style>
{% endblock%}
