{% extends "layout.html" %}
{% block TITLE %}Inicio{% endblock %}
{%block body%}
<div class="club">
	<a href="/"><div id="volver"></div></a>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript">
	var cad = "Pereira";
	var i = 0;
	$(document).ready(function () {}
</script>
{% endblock%}
{%block style%}
<style type="text/css">
	.club{
		background-image: url("/static/img/club.png");
	    background-repeat: no-repeat;
	    background-position: top center;
	    width: 977px;
	    height: 723px;
	    margin: 0 auto;margin-left: 95px;
	}
	#volver{width: 200px}
</style>
{% endblock%}
