{% extends "layout.html" %}
{% block TITLE %}Inicio{% endblock %}
{%block body%}
<div class="flora">
	<a href="/"><div id="volver"></div></a>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript">
	$(document).ready(function () {}
</script>
{% endblock%}
{%block style%}
<style type="text/css">
	.flora{
		background-image: url("/static/img/flora.png");
	    background-repeat: no-repeat;
	    background-position: top center;
	    width: 1028px;
	    height: 765px;
	    margin: 0 auto;
	}
</style>
{% endblock%}
