{% extends "layout.html" %}
{% block TITLE %}Inicio{% endblock %}
{%block body%}
<div id="landing-img">
	<div id="search-box" class="">
		<div id="frase-home">
			<img src="{{STATIC_PREFIX}}img/landing/frase-home.png">
		</div>
		<form method="post">
			{% csrf_token %}
			<input type="text" id="search" placeholder="Zona/Ciudad/Club/Campo de Golf" autofocus>
		</form>
		<div id="icons-bar">
			<img src="{{STATIC_PREFIX}}img/landing/icons-bar.png">
		</div>
	</div>
</div>
<section id="search-results" style="display:none"></section>
<section id="video-news"></section>
<div id="sing-up">
	<a href="#close-sing-up">
		<div class="btn-close">
		</div>
	</a>
	<img src="{{STATIC_PREFIX}}img/landing/sing-up.png">
</div>
{% endblock%}
{%block js%}
<script type="text/javascript">
	var cad = "Pereira";
	var i = 0;
	$(document).ready(function () {
		$("#search").on("submit", function (e){e.preventDefault();})
		$("#search").on("keydown", function (e){e.preventDefault();});
		$("#search").on("keyup", function (e){
			if (e.keyCode != 13){
				if (e.keyCode != 8){i++;}
				else{i--;}
				$("#search").val("").val(cad.substr(0,i));
			}
			else{
				showResults();
				return false;
			}
		});
		$("a[href='#account']").on("click", login);
		$("a[href='#close-sing-up']").on("click", close_sing_up);
	});
	function login (e) {
		e.preventDefault();
		console.log("hola");
		var login = ""
		$("#sing-up").show();
	}
	function close_sing_up (e) {
		e.preventDefault();
		$("#sing-up").hide();
	}
	function showResults () {
		$("#search").val(cad);
		i = 7;
		$("#search-box").animate(
			{
				top: "106px"
			},
			function (e){

		});
		$("#landing-img").animate(
			{
				height: "280px"
			},
			function (e){

		});
		$("#search-results").fadeIn(600);
	}
</script>
{% endblock%}
{%block style%}
<style type="text/css">
	#search-box{position: relative;top: 206px;left: 0;right: 0;margin: 0 auto;width: 300px;}
	#search{border: none; border-radius: 5px; padding: 10px; width: 94%;}
	#frase-home{width: 240px;margin: 0 auto; margin-bottom: 10px}
	#icons-bar{width: 235px;margin: 0px auto;}
	#sing-up{position: absolute;top: 86px;width: 312px;height: 319px;left: 0;right: 0;margin: auto;display: none;}
	.btn-close{position: relative;top: 20px;right: -283px;width: 20px;height:10px;}
</style>
{% endblock%}
