{% load static %} {% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ColGolf / {% block TITLE %}{%endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/normalize.css">
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/main.css">
        {%block style%}{%endblock%}

        <script src="{{ STATIC_PREFIX }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=435430513214029";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <header class="">
            <h1>ColGolf</h1>
            <p>Gu&iacute; de Golf Colombia</p>
            <a href="/">
                <div id="logo-header"></div>
            </a>
            <div id="nav-bar" class="">
                <a href="https://facebook.com/ColGolf" target="_blank">
                    <div id="facebook" class="redes"></div>
                </a>
                <a href="https://twitter.com/ColGolf" target="_blank">
                    <div class="redes" id="twitter"></div>
                </a>
                <!-- <div> -->
                    <a href="#account">
                        <div class="account">
                            <span class="">
                                {%if user.is_authenticated%}
                                {{user.username}}
                                {%else%}
                                Inicia sesi&oacute;n
                                {%endif%}
                            </span>
                        </div>
                        <div id="menu-account">
                            <a href="#close-sing-up">
                                <div class="btn-close">
                                </div>
                            </a>
                            <a href="/login">
                                <img src="{{STATIC_PREFIX}}img/menu-account.png">
                            </a>
                        </div>
                    </a>
                <!-- </div> -->
                <div id="follow-buttons">
                    <div class="fb-like" data-href="http://www.facebook.com/ColGolf" data-send="false" data-layout="button_count" data-width="250" data-show-faces="false"></div>
                    <div id="twitter-follow">
                        <a href="https://twitter.com/ColGolf" class="twitter-follow-button" data-show-count="false" data-lang="es">Seguir a @ColGolf</a>
                    </div>
                </div>
            </div>
        </header>
        <div id="body-container" class="">
            {%block body%}
            {% endblock%}
        </div>
        <footer>
            <div id="footer-container">
                <p><a href="http://daiech.com">colgolf.com</a></p>
                <p><strong>Gu&iacute;a de Golf Colombia</strong></p>
                <p>Desde Pereira, Colombia <script>document.write(new Date().getFullYear());</script></p>
            </div>
        </footer>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="{{ STATIC_PREFIX }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ STATIC_PREFIX }}js/plugins.js"></script>
        <script src="{{ STATIC_PREFIX }}js/main.js"></script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        {% block js %}{% endblock%}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            // s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
