{% extends "layout.html" %}
{% block TITLE %}Inicio{% endblock %}
{%block body%}
<div class="region">
</div>
{% endblock%}
{%block js%}
<script type="text/javascript">
	var cad = "Pereira";
	var i = 0;
	$(document).ready(function () {}
</script>
{% endblock%}
{%block style%}
<style type="text/css">
	.region{
		background-image: url("/static/img/region.png");
	    background-repeat: no-repeat;
	    background-position: top center;
	    width: 944px;
	    height: 636px;
	    margin: 0 auto;
	}
</style>
{% endblock%}
